body {
    margin: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #7b8fd7, #4a529a, #143a57);
    align-items: flex-start;
}

h1 {
    font-size: 3vw;
    margin: 2vh;
}

.container {
    text-align: center;
    color: white;
    width: 90%;
    margin: auto;
    animation: fadeIn 1s ease-in-out;
    transition: background 0.3s ease; /* suaviza mudança de modo */
}

.modo {
    padding: 2vh;
    font-size: 1.2vw;
    border-radius: 1vw;
    margin: 2vh;
}

.scoreboard {
    gap: 1rem;
    font-weight: bold;
    font-size: 1.2vw;
    position: absolute;
    display: flex;
}

.scoreboard p {
    padding: 1.5vh;
    margin: 0;
    align-items: center;
    border-radius: 1vw;
    background-color: #1a1a1a;
}

.input-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    max-width: 30vw;
    gap: 1rem;
}

.react-select__control {
    margin: 0;
    padding: 0.7vh;
    font-size: 1.5vw;
    width: 25vw;
    border: none;
    background: #0c0c0c;
    min-width: 25vw; /* Garante que não encolha */
}

.react-select__control--is-focused {
    outline: none;
    box-shadow: 0 0 1vw rgba(255, 255, 255, 0.7);
}

.react-select__value-container {
    padding: 0; /* Remove padding extra para alinhar com o input original */
}

.react-select__input-container {
    margin: 0; /* Remove margem extra */
}

.react-select__menu {
    position: absolute;
    top: 120%; /* Posiciona dinamicamente abaixo do input */
    width: 30vw; /* Alinha com a largura do input */
    border-radius: 1vw;
    z-index: 10;
    max-height: 50vh; /* Altura para ~10 opções sem scroll */
    font-size: 1.2vw;
    background: #1e3a8a; /* Fundo azul escuro para o menu */
    border: #1a1a1a solid 1px;
    border-top: none;
}

.react-select__option {
    width: 100%;
    padding: 1vh 1.4vw;
    font-weight: bold;
    text-align: center;
    margin: 0;
    cursor: pointer;
    border-bottom: #1a1a1a solid 1px;
    color: #000000 !important; /* Texto amarelo */
}

.react-select__dropdown-indicator {
    display: none !important; /* Oculta a seta do dropdown */
}

.chances {
    width: 5vw;
    min-width: 5vw;
    font-size: 1.5vw;
    font-weight: bold;
    color: black;
    background: white;
    padding: 1vh;
    border-radius: 1vw;
}

table {
    margin: 2vh auto;
    width: 100%;
    table-layout: fixed;
    font-size: 1vw;
    background-color: #1a1a1a;
    overflow: hidden;
    animation: fadeInUp 1s ease;
}

th, td {
    border: #b6b2b2 solid 1px;
    text-align: center;
    height: 5vh;
    transition: background 0.3s ease;
}

th {
    background: rgba(255, 255, 255, 0.2);
    border: #1a1a1a solid 1px;
    font-size: 1.2vw;
}

.mini-bloco {
    display: flex;
    justify-content: center;
    align-items: center;
}

tr .single-item {
    height: 100% /* Padding maior para um único item */
}

.next-idol {
    width: 100%;
    animation: highlight 1s ease;
    font-size: 1.5vw;
    margin-bottom: 5vh;
}

.correto {
    background: #4caf50;
    animation: highlight 1s ease;
}

.proximo,
.proximo-maior,
.proximo-menor {
    background-color: #e5b03b; /* amarelo mantém */
}

.reveal td {
    opacity: 0;
    transform: translateX(-20px);
    animation: revealCell 0.5s forwards;
}

.reveal td:nth-child(1) {
    animation-delay: 0s;
}

.reveal td:nth-child(2) {
    animation-delay: 0.4s;
}

.reveal td:nth-child(3) {
    animation-delay: 0.8s;
}

.reveal td:nth-child(4) {
    animation-delay: 1.2s;
}

.reveal td:nth-child(5) {
    animation-delay: 1.6s;
}

.reveal td:nth-child(6) {
    animation-delay: 2s;
}

.reveal td:nth-child(7) {
    animation-delay: 2.4s;
}

/* Animações */
@keyframes revealCell {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 rgba(255, 255, 255, 0.7);
    }
    50% {
        transform: scale(1.2);
        box-shadow: 0 0 1vw rgba(255, 255, 255, 0.9);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 rgba(255, 255, 255, 0.7);
    }
}

/* Responsividade */
@media (max-width: 1000px) {
    body {
        padding-top: 1vh;
    }

    h1 {
        font-size: 5vw;
        padding: 0;
        margin: 1vh;
    }

    .modo {
        font-size: 2vw;
        padding: 1vh;
        margin: 1vh;
    }

    .input-wrapper {
        max-width: 20vw; /* Ajusta para telas menores */
    }

    .react-select__control {
        margin: auto;
        padding: 0;
        font-size: 2.5vw;
        width: 35vw;
        border: none;
        background: #0c0c0c;
        min-width: 25vw;
    }

    .chances {
        width: 10vw;
        min-width: 10vw;
        font-size: 2vw;
        font-weight: bold;
        color: black;
        background: white;
        border-radius: 1vw;
        height: 1.5vh;
    }

    table {
        font-size: 1.5vw;
    }

    th, td {
        height: 2vh;
    }

    .react-select__menu {
        width: 35vw; /* Alinha com a largura do input */
        font-size: 2vw;
    }

    .container {
        width: 99%;
    }

    .scoreboard {
        font-weight: bold;
        font-size: 2vw;
        position: relative;
        display: flex;
        justify-content: center;
        margin: 1vh;
    }

    .scoreboard p {
        padding: 1vh;
        margin: 0;
        align-items: center;
        border-radius: 1vw;
        background-color: #1a1a1a;
    }

    .next-idol {
        font-size: 3vw;
        margin-bottom: 3vh;
    }
}